/* Add these styles at the end of your Footer.css file */

.footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
    width: 100%;
    bottom: 0;
    display: f  ;
  }
  
  .footer p {
    margin-bottom: 1rem;
  }
  
  .footer__person-images {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .footer__person-image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%;
    /* margin: 0 0.5rem; */
  }
  .footer__logo-image {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    /* margin: 0 5rem 1rem; */
    border-radius: 50%;
  }
  
  /* Add styles for the social icons */
  .footer__social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .footer__social-icon {
    font-size: 1.5rem;
    color: var(--icon-color);
    margin: 0 1rem;
    cursor: pointer;
  }
  .footer__person-container {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    margin-top: 1rem;
  }
  
  
  .footer__logo-container {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    margin-top: 2rem;
}

.footer__person-image:hover {
    transform: scale(1.5); /* Increase size on hover */
}
.footer__logo-image:hover {
    transform: scale(1.5); /* Increase size on hover */
}
.footer__icon-image:hover {
    transform: scale(2); /* Increase size on hover */
}
@media (max-width: 768px) {
    .footer__person-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer__logo-container {
      margin-top: 20px;
    }
  }
